<div class="jumbotron">  
  <h2 class="text-center">Your result</h2>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class="text-center">Calorie intake</th>
        <th class="text-center">Protein</th>
        <th class="text-center">Carb</th>
        <th class="text-center">Fat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><strong><%= "%.2f" % @information.result %> kcal/day</strong></td>
      
      
        <td class="text-center"><strong><%= "%.2f" % @information.protein %> gr/day</strong></td>
      
      
        <td class="text-center"><strong><%= "%.2f" % @information.carb %> gr/day</strong></td>
      
      
        <td class="text-center"><strong><%= "%.2f" % @information.fat %> gr/day</strong></td>
      </tr>
      
    </tbody>
  </table>
</div>
