body {
	background-image: image-url('sport-1882719_1920.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	color: white !important;
}

#des {
  color: white;
  margin-bottom: 30px;
}

.navbar-brand  {
 	color: white;
 }
 
.nav > li >a {
	color: white;
}

#weight {
	width: 45% !important;
	display: inline-block;
}

#height {
	float: right;
	width: 45% !important;
	display: inline-block;
}

.gender {
	display: inline-block ;
}

.col-md-8 {
	background-color:white;
}

.activity {
	margin-top: 10px;
}

.btn-primary {
	margin-top: 10px;
	margin-bottom: 30px !important;
	width: 65%;
}

.modal-footer {
  text-align: left !important;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}

.navbar-nav > li > .dropdown-menu > li > a {
  color: #f5f5f5;
}

.jumbotron {
  padding-top: 4px !important;
  background-color: #FFFFFF !important;
}

#form {
  padding-top: 10px;
}

.btn-primary {
  width: 30%;
}

#info {
  margin-top: 30px; 
}

#jumb {
  display: inline-block;
  text-align: center;
  margin-right: 80px;
  padding-right: 10px;
  padding-left: 10px;
}

#cal {
  text-align: center !important;
}

.btn-count {
  text-align: center;
}

